---
import '../pages/styles/styles.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cecily's Site</title>
    <link rel="shortcut icon" href="/important/barnie.webp" type="image/webp">
  </head>
  <body>
    <section id="toliet">
      <button id="cecily" role="button" aria-pressed="false">
        <p id="display-text">CLICK HERE</p>
        <div id="surprise-content" class="hidden">
          <img
            id="suprise-img"
            src="/important/barney-what-the-fuck.gif"
            alt="its a surprise"
          />
          <p id="caption">Fuck Ice</p>
        </div>
      </button>
      <audio id="sound" src="/important/hoe.mp3"></audio>
    </section>
    <script is:inline src="/app.js"></script>
  </body>
</html>
