* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/important/ba06af500d7326c3625833d8641af21c.webp") no-repeat
    left center fixed;
  background-size: contain;
  min-height: 100vh;
}

#toliet {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25%;
}

#cecily {
  background: none;
  border: none;
  font-size: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.5s;
}

#cecily:hover {
  color: aliceblue;
}

#cecily:active {
  color: cadetblue;
}

#suprise-img {
  height: 500px;
}

#surprise-content {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#caption {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

#surprise-content:not(.hidden) {
  display: flex;
}

.hidden {
  display: none !important;
}
